body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#restaurantInput, button {
    margin: 5px;
    height: 40px;
    padding: 0 10px;
}

.restaurant-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.restaurant-name, .delete-button {
    white-space: nowrap; /* 防止名称换行 */
}

.delete-button {
    cursor: pointer;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    color: red;
    font-size: 20px;
}

@media (max-width: 600px) {
    .content {
        padding: 10px;
    }

    .input-group {
        flex-direction: column;
        align-items: stretch;
    }

    #restaurantInput, button {
        width: 100%;
    }

    .restaurant-item {
        flex-wrap: wrap; /* 允许项目在必要时换行，但优先尝试保持在一行 */
    }

    .restaurant-name {
        flex-grow: 1; /* 确保名称可以伸缩以填满可用空间，推动删除按钮向右 */
    }
}
